<h1>Projects</h1>
<hr>
<div class="row">

  <% @projects.each do |project| %>
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= project.title %></h5>
          <p class="card-text"><%= project.description %></p>
          <%= link_to 'Visualize', project, class: 'btn btn-primary' %>
          <%= link_to 'Donate', new_project_donation_path(project), class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
  <br>
  <%= link_to 'New Project', new_project_path, class: 'btn btn-success' %>
