<h1>Projects</h1>
<hr>
<%= search_form_for @q, html: {class: 'form-inline' } do |f| %>
  <%= f.search_field :title_cont, class: 'form-control', placeholder: 'Title' %>
  <%= f.submit class: 'btn btn-primary' %>

  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Order
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= sort_link @q, :title %><br>
      <%= sort_link @q, :target %><br>
      <%= sort_link @q, :due_date %>
    </div>
  </div>
<% end %>

<br>
<div class="row">

  <% @projects.each do |project| %>
    <div class="col-lg-6">
      <div class="card" style="width: 100%">
        <% if project.image.present? %>
          <div class="symbol symbol-50 symbol-lg-120">
            <%= image_tag(url_for(project.image), style: 'height: auto; width: auto; display: block; max-height: 200px; margin-left: auto; margin-right: auto', class: 'card-img-top img-thumbnail') %>
          </div>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= project.title %></h5>
          <p class="card-text"><%= project.description %></p>
          <p class="card-text"><strong>target: </strong> <%= number_to_currency(project.target) %></p>
          <p class="card-text"><strong>Due date: </strong><%= project.due_date.strftime("%d/%m/%Y") %></p>
          <%= link_to 'Visualize', project, class: 'btn btn-primary' %>
          <% if !project.is_expired? %>
            <%= link_to 'Donate', new_project_donation_path(project), class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
