<h1><%= @project.title %></h1>
<hr>

<%# if policy(Donation).edit? %>
  <%= link_to 'Donate', new_project_donation_path(@project), class: 'btn btn-success' %>
<%# end %>
<br>
<br>

<% if @project.image.present? %>
    <%= image_tag(url_for(@project.image), style: 'height: auto; width: auto; display: block; max-height: 300px; margin-left: auto; margin-right: auto') %>
<% end %>
<br>
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Target:</strong>
  <%= @project.target %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @project.due_date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Total received:</strong>
  <%= number_to_currency(@project.total_received) %>
</p>

<p>
  <strong>Donators:</strong>
  <%= @project.donators %>
</p>

<% if policy(@project).edit? %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<% if policy(@project).destroy? %>
  <%= link_to 'Destroy', edit_project_path(@project), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', projects_path %>

